<!-- USER / SHOW.HTML -->
<div class="container my-5">
  <div class="card-user">
    <div class="col-12 col-md-6 mx-auto my-5">
    <!--  Info du profil -->
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card-user--image text-center">
                <%= avatar_user({
                  width: 200, height: 200, crop: :fill
                })%>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card-user--content">
            <h3><%= @user.first_name %></h3>
            <h3><%= @user.last_name %></h3>
            <p><%= @user.email %></p>
            <p>Mes Valentins : <%= @user.valentins.count %></p>
          </div>
        </div>
      </div>
    </div>
    <!--  Edition du profil -->
    <div class="row">
      <div class="col-12 col-md-6 mx-auto">
        <%= simple_form_for @user do |f| %>
          <%= f.error_notification %>
            <%= f.input :first_name, label: false, placeholder: "Ton prénom" %>
            <%= f.input :last_name, label: false, placeholder: "Ton nom" %>
            <%= f.input :email, label: false, placeholder: "Ton email" %>
            <%= f.input :photo, as: :file,
                        required: false,
                        autofocus: true,
                        label: false,
                        placeholder: "Upload ta photo !" %>
            <%= f.submit "Je modifie", class:'input-form btn-val btn-val--primary' %>
        <% end %>
      </div>
    </div>
 </div>

  <!--  Liste des réservation des Vals -->
  <div class="row my-3">
    <h2 class="text-center">Mes anciennes réservations de Val</h2>
    <% @user.bookings.each do |booking| %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card-val shadow text-center">
          <div class="card-val--img">
             <%= cl_image_tag(
                booking.valentin.photo.key,
                sizes: "100vw",
                class: "img-fluid",
                :transformation=>[{
                  aspect_ratio: "16:9",
                  crop: "fill",
                  gravity: :face
                }]
              ) if booking.valentin.photo.attached? %>
          </div>
          <div class="card-val--content">
             <h4><%= booking.valentin.name %></h3>
              <p>Tu l'as réservé le <%= booking_date(booking.reservation_at) %></p>
              <%= link_to "Laisser une éval", new_valentin_review_path(booking.valentin), class:'btn-val btn-val--primary'  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Mes valentins en location -->
  <div class="row my-3">
    <h2 class="text-center">Mes annonces de Valentin en location</h2>
    <% @user.valentins.each do |valentin| %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card-val shadow text-center">
          <div class="card-val--img">
             <%= cl_image_tag(
                valentin.photo.key,
                sizes: "100vw",
                class: "img-fluid",
                :transformation=>[{
                  aspect_ratio: "16:9",
                  crop: "fill",
                  gravity: :face
                }]
              ) if valentin.photo.attached? %>
          </div>
          <div class="card-val--content">
             <h4><%= valentin.name %></h3>
              <p><%= valentin.short_description %></p>
              <p><%= valentin.long_description %></p>
              <%= link_to "Destroooy ton valentin", valentin_path(valentin), method: :delete, class:'btn-val btn-val--primary'  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
