<div class="home-banner">
  <h1>Louer votre Valentin</h1>
  <p>Animez toutes vos soirées avec votre Val préféré !</p>
  <div class="search-container mt-5">
    <%= form_tag search_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Ecris des mots-clefs ici pour trouver un val !"
      %>
      <%= button_tag type: 'submit', class: "form-submit" do %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container wrapper my-5">
  <h2 class="text-center my-5">Les vals qui ont grave la côte en ce moment !</h2>
  <div class="row my-3">
    <% @valentins.each do |valentin| %>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card-val shadow text-center">
          <div class="card-val--img">
            <%= cl_image_tag valentin.photo.key, :client_hints=>true, :sizes=>"100vw", :transformation=>[
                {:aspect_ratio=>"16:9", :crop=>"fill"},
                {:width=>"auto", :crop=>"scale"},
                {:width=>1000, :crop=>"limit"}], class: "img-fluid" if valentin.photo.attached? %>
          </div>
          <div class="card-val--content">
            <h3><%= valentin.name %></h3>
            <h4>Avis: <%= valentin.reviews.count %> - Moyenne: <%= @average_rating %></h4>
            <p><%= valentin.short_description %></p>
            <p class="card-val--content__price"><%= valentin.price %>€</p>
            <%= link_to "Découvrir", valentin_path(valentin), class: "btn-val btn-val--primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
