<div class="container my-5">
  <div class="review">
    <h2>Laissez une éVALuation</h2>
    <%= simple_form_for [@valentin, @review] do |f| %>
      <%= f.input :comment, label: false %>
      <%= f.input :rating, as: :hidden  %>
      <div class="my-3">
        <% Review::AUTHORIZED_RATINGS.each do |index| %>
          <i id="<%= index %>" class="review-rating far fa-star"></i>
        <% end %>
      </div>
      <%= f.submit class: "input-form btn-val btn-val--primary", value: "VAL-ider" %>
    <% end %>
  </div>
</div>
