<center><h1>La liste de nos Valentins</h1>
<h2>ᕕ( ͡° ͜ʖ ͡° )ᕗ</h2>

<div class="container my-5">
  <h2 class="text-center my-5">Voici nos Valentins actuellement disponible</h2>
    <div class="row my-3">
      <% @valentins.each do |valentin| %>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card-val shadow text-center">
            <h3><%= valentin.name %></h3>
            <%= cl_image_tag valentin.photo.key, height: 200, width:300, crop: :fill %>
            <p><%= valentin.short_description %></p>
            <p class="card-val--price"><%= valentin.price %>€</p>
            <%= link_to "Découvrir", valentin_path(valentin), class: "btn-val btn-val--primary" %>
          </div>
        </div>
      <% end %>
    </div>
</div>

</center>
