<center><h1>Voici la liste des VVAAAALLLEEENNNNTTTTINNNNN !!!!!</h1>

<h2>ᕕ( ͡° ͜ʖ ͡° )ᕗ</h2>

<ul>
  <% @valentins.each do |valentin| %>
    <li><%= valentin.name %></li>
    <li><%= valentin.price %></li>
    <li><%= valentin.short_description %></li>
    <li><%= valentin.long_description %></li>
    <%= cl_image_tag valentin.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</ul>

<p>( ͡⚆ ͜ʖ ͡⚆)</p><
<p></p>


</center>