<div class="container my-5">

  <h1 class="text-center my-5">Valentins</h1>
  <h2 class="text-center my-5">Toi aussi ajoute ton Val !</h2>

  <%= simple_form_for @valentin do |f| %>
    <%= f.error_notification %>
      <%= f.input :name, required: true, autofocus: true%>
      <%= f.input :price, required: true %>
      <%= f.input :short_description, required: true %>
      <%= f.input :long_description, required: true %>
        <%= f.input :photo, as: :file,
                      required: false,
                      autofocus: true %>
      <%= f.submit "EnVALer c'est peser", class:'btn-val btn-val--primary' %>
  <% end %>
</div>
