<center><h1>(☞ ͡° ͜ʖ ͡°)☞ Valentins</h1>
<h2>Toi aussi ajoute ton Val !</h2>

<p>petit coquinou...</p>

<ol>
  <%= simple_form_for [ @valentin ] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <%= f.label :short_description %>
    <%= f.text_field :short_description %>
    <%= f.label :long_description  %>
    <%= f.text_field :long_description %>
    <%= f.submit %>
  <% end %>
</ol>
</center>