<!-- Card d'un Valentin -->
<div class="container my-5">
  <div class="row my-3 justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card-val shadow text-center">
        <div class="card-val--img">
          <%= cl_image_tag @valentin.photo.key, :client_hints=>true, :sizes=>"100vw", :transformation=>[
              {:aspect_ratio=>"16:9", :crop=>"fill"},
              {:width=>"auto", :crop=>"scale"},
              {:width=>1000, :crop=>"limit"}], class: "img-fluid" if @valentin.photo.attached? %>
        </div>
        <div class="card-val--content">
          <h3><%= @valentin.name %></h3>
          <p><%= @valentin.long_description %></p>
          <p class="card-val--content__price"><%= @valentin.price %>€</p>
        </div>
        <div class="card-val--booking">
          <h3 class="mb-3">Vas-y réserve, mais reste tranquille</h3>
          <%= simple_form_for @booking do |f| %>
            <%= f.hidden_field :valentin_id, value: @valentin.id %>
            <%= f.input :reservation_at, as: :date, html5: true, label: false %>
            <%= f.submit "Réser-val", class:  "input-form btn-val btn-val--primary mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    <h4>Moyenne : <%= @valentin.moyenne %></h4>
  <div class="reviews">
    <% @reviews.each do |review| %>
      <p>
        <% Review::AUTHORIZED_RATINGS.each do |number| %>
          <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
        <% end %>
        <%= review.comment %>
      </p>
    <% end %>
  </div>


  <div class="review">
    <h2>Laissez une éVALuation</h2>
    <%= simple_form_for [@valentin, @review] do |f| %>
      <%= f.input :comment, label: false %>
      <%= f.input :rating, as: :hidden  %>
      <div class="my-3">
        <% Review::AUTHORIZED_RATINGS.each do |index| %>
          <i id="<%= index %>" class="review-rating far fa-star"></i>
        <% end %>
      </div>
      <%= f.submit class: "input-form btn-val btn-val--primary", value: "VAL-ider" %>
    <% end %>
  </div>
</div>
