<center><h2><%= @valentin.name %></h2>
<p><%= @valentin.price %></p>
<p><%= @valentin.short_description %></p>
<p><%= @valentin.long_description %></p>

<ul class="list-group">
  <% @valentin.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item">
      <%= review.content %>
      <%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<p>( ͡⚆ ͜ʖ ͡⚆)</p>
<%= cl_image_tag("https://res.cloudinary.com/sirchamallow/image/upload/v1645544332/valentin2.jpg", :transformation=>[
  {:aspect_ratio=>"1.0", :gravity=>"face", :width=>0.6, :zoom=>0.7, :crop=>"thumb"},
  {:radius=>"max"},
  {:color=>"brown", :effect=>"outline"},
  {:color=>"grey", :effect=>"shadow", :x=>30, :y=>55}
  ])

</center>
