<!-- Card d'un Valentin -->
<div class="container wrapper my-5 justify-content-center">
  <h2 class="text-center my-5">Votre Val'</h2>
  <div class="row my-3 justify-content-center">
    <div class="col-12" class="text-center justify-content-center">
        <ul class="list-group shadow text-center d-flex justify-content-center">
          <h3><%= @valentin.name %></h3>
          <div class="d-flex justify-content-center">
            <%= cl_image_tag @valentin.photo.key, height: 200, width:300, crop: :fill %>
          </div>
          <p><%= @valentin.short_description %></p>
          <p><%= @valentin.long_description %></p>
          <p class="card-val--price"><%= @valentin.price %>€</p>
        </ul>
    </div>
  </div>
</div>

<p>
  Moyenne : <%= @average_rating %>
</p>
<div class="reviews">
  <% @reviews.each do |review| %>
    <p>
      <% Review::AUTHORIZED_RATINGS.each do |number| %>
        <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
      <% end %>
      <%= review.comment %>
    </p>
  <% end %>
</div>


<div class="review">
  <h2>Laissez une éVALuation</h2>
  <%= simple_form_for [@valentin, @review] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating, as: :hidden  %>
    <div class="my-3">
      <% Review::AUTHORIZED_RATINGS.each do |index| %>
        <i id="<%= index %>" class="review-rating far fa-star"></i>
      <% end %>
    </div>
    <%= f.submit class: "btn btn-primary", value: "VAL-ider" %>
  <% end %>
</div>
